#t{
background-color:#CCCC00;
width:100%;
height:230px;
}
#im{
	width:312;
	height:200px;
		
}

t3{
	height:250px;
	width:100;
	text-align:center;
	font-size:large;
}
t4{
	width:300;
}


a:hover{
background-color:#66FF00;
}
a{
padding: 2 10 2 10;
background-color:#000000;
color:#FFFFFF;
}
#h1{
text-align:center;
margin-left:150px;
}
#ri{
text-align:right;
}
#form{
	 width:100%;
	 min-height:500px;
	 max-height:auto;
	 background:#CCCCCC;

}
#home_body{
	 width:100%;
	 min-height:500px;
	 max-height:auto;
	 background:#CCCCCC;
}
#table{
 margin-left:10%;
 margin-right:10%;
 background:#33CCCC;
 
}
#tds{
	background:#000000;
	color:#FFFFFF;
}
#footer{
	width:100%;
	height:100px;
	background:#000000;
	color:#FFFFFF;
	font-size:14px;
}
