#head{
width:100%;
height:20%;
color:#FFFFFF;
background:#000000;
position:static;

}
#td{
color:#FFFFFF;


}
#h1{
font:italic;
color:#FFFFFF;
}
#home{
width:100%;
height:700;
border:#000000;
float:left
}

